/* Asegurar altura completa */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #000;
    padding: 10px 0;
}

.menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

main {
    flex: 1; /* Ocupa todo el espacio disponible */
    padding: 20px;
    text-align: left;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.text {
    width: 60%; /* El texto ocupa el 60% del espacio */
    text-align: left;
}

.image {
    width: 35%; /* La imagen ocupa el 35% del espacio */
}

.image img {
    width: 500px;
    height: 600px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative; /* Se posiciona normalmente */
    bottom: 0; /* Se asegura de estar al fondo */
    margin-top: auto; /* Empuja hacia abajo cuando el contenido es insuficiente */
}
