/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  gap: 10px;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}
/* Colores Globales */
:root {
  --primary-color: #0b6b5d; /* Color del header */
  --background-color: #f4f4f4; /* Color de fondo de la página */
  --text-color: #333; /* Color del texto */
}

/* Estilos Generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Navbar (Header) */
.navbar {
  background-color: var(--primary-color);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

/* Página de Inicio */
.hero {
  position: relative;
  width: 100%;
  height: 400px;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

