
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;

    /* Asegura que la p치gina use un layout flexible */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu a {
    color: white;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
}

.menu a:hover {
    color: #1e90ff;
}

main {
    flex: 1; /* Expande el contenido para ocupar el espacio disponible */
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 20px 0;
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; /* Espacio encima y debajo */
}

.imagen img {
    max-width: 100%; /* La imagen se ajustar치 al ancho del contenedor */
    height: auto; /* Mantendr치 su proporci칩n original */
    width: 300px; /* Ancho espec칤fico que puedes cambiar */
    border-radius: 10px; /* Bordes redondeados opcionales */
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.contenedor img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.nave::after {
    content: "游 "; /* Unicode de una nave espacial */
    font-size: 1rem;
    margin-right: 10px; /* Espacio entre la nave y el texto */
}

/* Responsive Design */
@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }
}
    