<div class="profile-container">
  <div class="profile-info">
    <img [src]="user.photo" alt="Foto de perfil" class="profile-img">
    <h2>{{ user.name }} {{ user.last_name }}</h2>
    <p><strong>Correo:</strong> {{ user.email }}</p>
  </div>

  <div class="profile-edit">
    <h3>Editar datos</h3>
    <form>
      <label>Nombre</label>
      <input type="text" [(ngModel)]="user.name" name="name">

      <label>Apellidos</label>
      <input type="text" [(ngModel)]="user.last_name" name="last_name">

      <label>Correo</label>
      <input type="email" [(ngModel)]="user.email" name="email">

      <label>URL Foto</label>
      <input type="text" [(ngModel)]="user.photo" name="photo">

      <button type="button" (click)="modificarDatos()">Modificar</button>
    </form>
  </div>
</div>
