<h2>Añadir Libro</h2>

<form (ngSubmit)="addBook()">
  <input type="text" placeholder="Título" [(ngModel)]="book.title" name="title" required>
  <input type="text" placeholder="Autor" [(ngModel)]="book.author" name="author" required>
  <input type="text" placeholder="Tipo" [(ngModel)]="book.type" name="type">
  <input type="number" placeholder="Precio" [(ngModel)]="book.price" name="price">
  <input type="text" placeholder="URL de la imagen" [(ngModel)]="book.imageUrl" name="imageUrl">
  <button type="submit">Añadir</button>
</form>

<!-- Botón para volver a la lista de libros -->
<a routerLink="/books">
  <button class="btn btn-secondary">⬅ Volver a la lista</button>
</a>
