<h2>Añadir libro</h2>
<div class="add-book-container">
  <form (ngSubmit)="addBook()">
    <input type="text" placeholder="Título" [(ngModel)]="newBook.title" name="title" required>
    <input type="text" placeholder="Autor" [(ngModel)]="newBook.author" name="author" required>
    <input type="text" placeholder="Tipo" [(ngModel)]="newBook.type" name="type">
    <input type="number" placeholder="Precio" [(ngModel)]="newBook.price" name="price">
    <input type="text" placeholder="URL de la imagen" [(ngModel)]="newBook.imageUrl" name="imageUrl">
    <button type="submit">Insertar Libro</button>
  </form>
</div>
