/* Estilos para mejorar el perfil */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px; /* Agregamos más separación de la imagen con el texto */
}

.profile-edit {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

/* Estilos para organizar las tarjetas en una cuadrícula de 4 columnas */
.books-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas en pantallas grandes */
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

@media (max-width: 1024px) {
  .books-list {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en tablets */
  }
}

@media (max-width: 768px) {
  .books-list {
    grid-template-columns: repeat(1, 1fr); /* 1 columna en móviles */
  }
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}
